
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label>Marka</label>
      <input name="Brand" id="Brand" [(ngModel)]="car.Brand" class="form-control">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label>Model</label>
      <input name="Model" id="Model" [(ngModel)]="car.Model" class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label>Rocznik</label>
      <input name="Year" id="Year" [(ngModel)]="car.Year" class="form-control">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label>Rodzaj silnika</label>
      <input name="EngineType" id="EngineType" [(ngModel)]="car.EngineType" class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label>Pojemność</label>
      <input name="Brand" id="Brand" [(ngModel)]="car.Capacity" class="form-control">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label>Moc</label>
      <input name="Model" id="Model" [(ngModel)]="car.Power" class="form-control">
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary form-control" >Dodaj nowe zlecenie dla samochodu</button>
<button type="button" class="btn btn-primary form-control">Historia napraw samochodu</button>
