<section>
  <div class="row">
    <div class="col-lg-4">
      <a class='myButt three btn' routerLink="/orders">
        <img src="../../assets/orders.png" />
        <p>
          Zlecenia
        </p>
      </a>
    </div>
    <div class="col-lg-4">
      <a class='myButt three btn' routerLink="/clients">
        <img src="../../assets/car.png" />
        <p>
          Samochody
        </p>
      </a>
    </div>
    <div class="col-lg-4">
      <a class='myButt three btn' routerLink="/clients">
        <img src="../../assets/owner.png"/>
        <p>
          Klienci
        </p>
      </a>
    </div>
  </div>
</section>
