<!--<div class="image-wrapper"></div>-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" routerLink="/">Warsztat</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/orders">Zlecenia</a>
      <a class="nav-item nav-link" routerLink="/clients">Klienci</a>     
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="!isUserAuthenticated()" routerLink="/login"><i class="fa fa-user"></i> Zaloguj</a>
      <a class="nav-item nav-link" *ngIf="isUserAuthenticated()" routerLink="/" (click)="logOut()"><i class="fa fa-user"></i> Wyloguj</a>
    </div>
  </div>
</nav>

